body {
  text-align: center;
  color: white;
  background: rgb(232, 191, 103);
  margin-top: 15px;
}
h1 {
  color: gold;
}

a {
  border: solid 2px white;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 2em;
}
img {
  margin: 10px;
  border-radius: 5px;
}

.email {
  border: none;
  text-decoration: underline;
  display: block;
}
